<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Q-Learning</title>
</head>
<body>
    <div id="explore-q-learning" class="explore modal">
        <h3 id="q-learning-title" class="explore-title">Q-Learning</h3>
        <hr class="hr-modal">
        <p class="explore-date">10th April 2021</p>

        <div class="share-icon-row">
            <a href="https://github.com/ryanmccauley211/Oak"><img class="share-icon" src="/static/images/github-share.png"></a>
            <a href="https://github.com/ryanmccauley211/Oak"><img class="share-icon" src="/static/images/fb-share.png"></a>
            <a href="https://github.com/ryanmccauley211/Oak"><img class="share-icon" src="/static/images/twitter-share.png"></a>
            <a href="https://github.com/ryanmccauley211/Oak"><img class="share-icon" src="/static/images/more-share.png"></a>
            <a href="#"><img class="share-icon-padding" src="/static/images/more-share.png"></a>
        </div>

        <ul class="explore-tags-list">
            <li class="explore-tags">q learning</li>
            <li class="explore-tags">python</li>
            <li class="explore-tags">math</li>
            <li class="explore-tags">reinforcement learning</li>
            <li class="explore-tags">numpy</li>
        </ul>

        <p class="explore-text-block">
            In reinforcement learning we want an agent to learn the optimal actions $a$ to perform in a state
            $s$ in order to maximize a reward $r$. Q-learning is a learning method that can approximate how
            valuable performing a given action in a given state is, and use this approximation to make
            optimal decisions. In Q-learning the agent learns by experience and is categorized as 
            <b>model-free</b>. This means that it doesn't require a model that says - given my current state $s$
            what is the probability of transitioning to another state $s_1$ and receiving an associated reward if I 
            take a given action $a$. Instead it learns the value of taking an action $a$ in state $s$ usually through
            trial and error, this difference is subtle but you can read more details HERE (TODO).
        </p>

        <pre class="explore-code-block line-numbers"><code class="language-python">
            TODO
        </code></pre>

    </div>
</body>
</html>