<div id="health-hub-project-container" class="project-container modal">

    <div id="health-hub-project" class="project">

        <div class="project-title-row">
            <h3 id="health-hub-title" class="project-title">Health Hub</h3>
            <hr class="hr-modal">
        </div>

        <div class="project-summary-row">
            <div class="project-summary-media">
                <a href="/static/images/health-hub-thumb.jpg" data-lity><img class="project-img-thumbnail" src="/static/images/health-hub-thumb.jpg"></a>
            </div>
            <div class="project-info">
                <ul class="project-languages">
                    <li class="project-language">python</li>
                    <li class="project-language">TurboGears</li>
                    <li class="project-language">REST</li>
                    <li class="project-language">sqlite</li>
                    <li class="project-language">pandas</li>
                </ul>
                <div class="share-icon-row">
                    <a href="https://github.com/ryanmccauley211/Oak"><img class="share-icon" src="/static/images/github-share.png"></a>
                    <a href="https://github.com/ryanmccauley211/Oak"><img class="share-icon" src="/static/images/fb-share.png"></a>
                    <a href="https://github.com/ryanmccauley211/Oak"><img class="share-icon" src="/static/images/twitter-share.png"></a>
                    <a href="https://github.com/ryanmccauley211/Oak"><img class="share-icon" src="/static/images/more-share.png"></a>
                    <a href="#"><img class="share-icon-padding" src="/static/images/more-share.png"></a>
                </div>
                <p class="project-description">
                    A parser for parsing apple health data and REST service to make it available in different formats
                </p>
            </div>
        </div>

        <div class="project-features-row">
            <div class="project-features">
                <h5 class="project-subheader">Features</h5>
                <ul class="project-feature-list">
                    <li>Parse apple health data</li>
                    <li>Request via rest in different formats</li>
                    <li>Stored in sqllite database</li>
                </ul>
            </div>
            <div></div>
        </div>

        <div class="project-todo-row">
            <div class="project-todos">
            </div>
        </div>
    </div>
</div>