<div id="hex-diff-project-container" class="project-container modal">

    <div id="hex-diff-project" class="project">

        <div class="project-title-row">
            <h3 id="hex-diff-title" class="project-title">Hex-Diff</h3>
            <hr class="hr-modal">
        </div>

        <div class="project-summary-row">
            <div class="project-summary-media">
                <a href="/static/images/hex-diff-sample.png" data-lity><img class="project-img-thumbnail" src="/static/images/hex-diff-sample.png"></a>
            </div>
            <div class="project-info">
                <ul class="project-languages">
                    <li class="project-language">python</li>
                </ul>
                <div class="share-icon-row">
                    <a href="https://github.com/ryanmccauley211/Oak"><img class="share-icon" src="/static/images/github-share.png"></a>
                    <a href="https://github.com/ryanmccauley211/Oak"><img class="share-icon" src="/static/images/fb-share.png"></a>
                    <a href="https://github.com/ryanmccauley211/Oak"><img class="share-icon" src="/static/images/twitter-share.png"></a>
                    <a href="https://github.com/ryanmccauley211/Oak"><img class="share-icon" src="/static/images/more-share.png"></a>
                    <a href="#"><img class="share-icon-padding" src="/static/images/more-share.png"></a>
                </div>
                <p class="project-description">
                    Hex-diff is a simple command line tool for looking at the diff between two files
                    in hex formatted bytes.
                </p>
            </div>
        </div>

        <div class="project-features-row">
            <div class="project-features">
                <h5 class="project-subheader">Features</h5>
                <ul class="project-feature-list">
                    <li>Command line tool</li>
                    <li>View diffs in hex format of any two files</li>
                    <li>Set number of lines to check</li>
                    <li>Differences highlighted</li>
                    <li>Bytes numbered</li>
                </ul>
            </div>
            <div></div>
        </div>

        <div class="project-todo-row">
            <div class="project-todos">

            </div>
        </div>
    </div>
</div>