<div class="project-preview-box health-hub-summary" data-year='2020' data-categories='["python", "TurboGears", "REST", "sqlite", "pandas"]'>
    <a class="open-modal" href="#health-hub-project-container" rel="modal:open"><h4 class="project-preview-title">Health Hub</h4></a>
    <ul class="project-languages">
        <li class="project-language">python</li>
        <li class="project-language">TurboGears</li>
        <li class="project-language">REST</li>
        <li class="project-language">sqlite</li>
        <li class="project-language">pandas</li>
    </ul>
    <p class="project-description">
        A parser for parsing apple health data and REST service to make it available in different formats. It will
        save parsed data in a sqlite server and give you access to the data via REST endpoints. The endpoint /endpoints
        will list available endpoints to query and the data can be fetched in different formats such as json,
        html, csv or pandas dataframe via pickle. The content returned is controlled by the content-type header in
        the http request.
    </p>
    <div class="share-icon-row">
        <a href="https://github.com/ryanmccauley211/Oak"><img class="share-icon" src="/static/images/github-share.png"></a>
        <a href="https://github.com/ryanmccauley211/Oak"><img class="share-icon" src="/static/images/fb-share.png"></a>
        <a href="https://github.com/ryanmccauley211/Oak"><img class="share-icon" src="/static/images/twitter-share.png"></a>
        <a href="https://github.com/ryanmccauley211/Oak"><img class="share-icon" src="/static/images/more-share.png"></a>
        <a href="#"><img class="share-icon-padding" src="/static/images/more-share.png"></a>
    </div>
</div>