<div class="project-preview-box hex-diff-summary" data-year='2020' data-categories='["python", "CLI"]'>
    <a class="open-modal" href="#hex-diff-project-container" rel="modal:open"><h4 class="project-preview-title">Hex-Diff</h4></a>
    <ul class="project-languages">
        <li class="project-language">python</li>
        <li class="project-language">hex</li>
        <li class="project-language">cli</li>
    </ul>
    <p class="project-description">
        Hex-Diff is a simple command line tool for viewing the diffs in hex format
        between two files.
    </p>
    <div class="share-icon-row">
        <a href="https://github.com/ryanmccauley211/Oak"><img class="share-icon" src="/static/images/github-share.png"></a>
        <a href="https://github.com/ryanmccauley211/Oak"><img class="share-icon" src="/static/images/fb-share.png"></a>
        <a href="https://github.com/ryanmccauley211/Oak"><img class="share-icon" src="/static/images/twitter-share.png"></a>
        <a href="https://github.com/ryanmccauley211/Oak"><img class="share-icon" src="/static/images/more-share.png"></a>
        <a href="#"><img class="share-icon-padding" src="/static/images/more-share.png"></a>
    </div>
</div>