<div class="project-preview-box oak-summary" data-year='2019' data-categories='["java", "maven"]'>
    <a class="open-modal" href="#oak-project-container" rel="modal:open"><h4 class="project-preview-title">Oak</h4></a>
    <ul class="project-languages">
        <li class="project-language">java</li>
        <li class="project-language">maven</li>
    </ul>
    <p class="project-description">
        Oak is a way of creating ocarina video and PDF tutorials.
        It takes a midi file and maps the notes to ocarina tabs
        and processes them into a complete tutorials.
    </p>
    <div class="share-icon-row">
        <a href="https://github.com/ryanmccauley211/Oak"><img class="share-icon" src="/static/images/github-share.png"></a>
        <a href="https://github.com/ryanmccauley211/Oak"><img class="share-icon" src="/static/images/fb-share.png"></a>
        <a href="https://github.com/ryanmccauley211/Oak"><img class="share-icon" src="/static/images/twitter-share.png"></a>
        <a href="https://github.com/ryanmccauley211/Oak"><img class="share-icon" src="/static/images/more-share.png"></a>
        <a href="#"><img class="share-icon-padding" src="/static/images/more-share.png"></a>
    </div>
</div>