<div class="project-preview-box REPLACE-ME-summary">
    <a class="open-modal" href="#REPLACE-ME-project-container" rel="modal:open"><h4 class="project-preview-title"><!--ENTER TITLE--></h4></a>
    <ul class="project-languages">
        <li class="project-language"><!--ENTER LANGUAGE OR FRAMEWORK--></li>
        <li class="project-language"><!--ENTER LANGUAGE OR FRAMEWORK--></li>
    </ul>
    <p class="project-description">
        <!--ENTER DESCRIPTION-->
    </p>
    <div class="share-icon-row">
        <a href="https://github.com/ryanmccauley211/Oak"><img class="share-icon" src="/static/images/github-share.png"></a>
        <a href="https://github.com/ryanmccauley211/Oak"><img class="share-icon" src="/static/images/fb-share.png"></a>
        <a href="https://github.com/ryanmccauley211/Oak"><img class="share-icon" src="/static/images/twitter-share.png"></a>
        <a href="https://github.com/ryanmccauley211/Oak"><img class="share-icon" src="/static/images/more-share.png"></a>
        <a href="#"><img class="share-icon-padding" src="/static/images/more-share.png"></a>
    </div>
</div>